services:
  - type: web
    name: goat-gang-bot
    env: node
    buildCommand: npm install
    startCommand: node index.js
    plan: free
    autoDeploy: true
    envVars:
      - key: DISCORD_TOKEN
        sync: false
      - key: CLIENT_ID
        sync: false
      - key: GUILD_ID
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: BOT_API_KEY
        sync: false
